#header{
    color:DarkMagenta;
    text-align: center
}

p:link{
    color:white;
}

#navbar{
    font-size:20px;
    color: white;
    background-color: black;
    text-align: center;

}

body{
    background-color: gainsboro;
}

img{
    border-radius: 40%;
    height: 200px;
    width:200px;
}