#header{
    color:DarkMagenta;
    text-align: center
}

a:link{
    color:white;
}

#navbar{
    font-size:20px;
    color: white;
    background-color: black;
    text-align: center;
    link:purple;

}

#bottom{
    text-align: center;
    background-color: white;
    color:gainsboro;
}

body{
    background-color: gainsboro;

}

img{
    text-align: center
    border-radius: 40%;
    height: 200px;
    width:200px;
}